{% extends "base.html" %}

{% block main %}

<div class="container mt-5">
    <h1>Welcome To Chat</h1>
    <form id="chat-form">
        <input name="name" placeholder="Enter your name..." type="text">
        <input name="message" placeholder="Enter message..." type="text" autofocus>
        <button type="submit">Send</button>
    </form>
    <div id="chat-display"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" crossorigin="anonymous"></script>
<script>
    // This is a hack to get the previous messages from the server into the client.
    let PREVIOUS_MESSAGES = JSON.parse('{{ messages | tojson }}');
</script>
<script src="/static/chat.js"></script>



{% endblock %}

