{% extends "base.html" %}

{% block main %}

<div class="container mt-5">
    <h1 class="mb-4">Project Dashboard</h1>

    <!-- Button to create a new project -->
    <a href="{{ url_for('new_project') }}" class="btn btn-primary mb-3" id="newProject">Create New Project</a>

    <!-- Table of projects -->
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Project Name</th>
                <th>Description</th>
                <th>Total Tasks</th>
                <th>Completed Tasks</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <td><a href="{{ url_for('project_page', project_id=project.project_id) }}">{{ project.name }}</a></td>
                <td>{{ project.description }}</td>
                <td>{{ project.total_tasks }}</td>
                <td>{{ project.completed_tasks }}</td>
                <td><button class="btn btn-danger deleteProject"
                        data-project-id="{{ project.project_id }}">Delete</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



{% endblock %}






