{% extends 'base.html' %}
{% set title = "Edit Task - " + task.name %}

{% block content %}
    <form method="POST">
        <label for="name">Task Name:</label>
        <input type="text" name="name" id="name" value="{{ task.name }}" required><br>

        <label for="description">Description:</label>
        <textarea name="description" id="description" required>{{ task.description }}</textarea><br>

        <label for="status">Status:</label>
        <select name="status" id="status">
            <option value="Pending" {% if task.status == 'Pending' %}selected{% endif %}>Pending</option>
            <option value="In Progress" {% if task.status == 'In Progress' %}selected{% endif %}>In Progress</option>
            <option value="Completed" {% if task.status == 'Completed' %}selected{% endif %}>Completed</option>
        </select><br>

        <input type="submit" value="Save Changes">
    </form>
         <!-- Add Delete Task Form -->
    <form action="{{ url_for('delete_task_action', task_id=task.task_id) }}" method="POST">
        <button type="submit" class="danger">Delete Task</button>
    </form>
{% endblock %}
