{% set title = "Projects" %}
{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1 class="mt-4 mb-5 text-center text-primary">Welcome to Project Manager!</h1>
  <p class="text-secondary text-center mb-4">Explore our features, manage your projects effectively, and enhance your
    productivity.</p>

  <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
    <!-- Loop through projects -->
    {% for project in projects.items %}
    <div class="col">
      <div class="card h-100 shadow bg-light">
        <div class="card-body">
          <h5 class="card-title fw-bold">
            <i class="fa fa-project-diagram fa-2x text-primary"></i> <!-- Example icon -->
            <a href="{{ url_for('project', project_id=project.project_id) }}"
              class="stretched-link text-decoration-none text-dark">{{ project.name }}</a>
          </h5>
          <p class="card-text">{{ project.description }}</p>
        </div>
        <div class="card-footer bg-white">
          <small class="text-muted">Status: <span class="text-success">{{ project.status }}</span></small>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- Pagination Links -->
  <nav aria-label="Page navigation" class="mt-5">
    <ul class="pagination pagination-lg justify-content-center">
      <li class="page-item {% if not projects.has_prev %}disabled{% endif %}">
        <a class="page-link" href="{{ url_for('index', page=projects.prev_num) }}" aria-label="Previous">
          <span aria-hidden="true">&laquo; Previous</span>
        </a>
      </li>
      <!-- Dynamically create page items here if needed -->
      <li class="page-item {% if not projects.has_next %}disabled{% endif %}">
        <a class="page-link" href="{{ url_for('index', page=projects.next_num) }}" aria-label="Next">
          <span aria-hidden="true">Next &raquo;</span>
        </a>
      </li>
    </ul>
  </nav>

</div>
{% endblock %}