{% extends "base.html" %}
{% block main %}

    <div class="container mt-5">
        <h1 class="mb-4">Create a New Project</h1>
        <form action="/new_project" method="post">
            <div class="form-group">
                <label for="project_id">Project ID</label>
                <input type="text" class="form-control" id="project_id" name="project_id" placeholder="id to be autopopulated" >
            </div>
            <div class="form-group">
                <label for="project_name">Project Name</label>
                <input type="text" class="form-control" id="project_name" name="project_name">
            </div>
            <div class="form-group">
                <label for="description">Project Description</label>
                <textarea class="form-control" id="description" name="description" rows="4"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit Project</button>
        </form>
    </div>



{% endblock%}