{%` extends "base.html" %}

{% block main %}


<h1>Create a New Project</h1>

<form action="/new_project" method="post">
    <label for="id">Project ID:</label>
    <input type="text" id="id" name="id">
    <br>
    <label for="name">Project Name:</label>
    <input type="text" id="name" name="name">
    <br>
    <label for="description">Project Description:</label>
    <textarea id="description" name="description"></textarea>
    <br>
    <button type="submit">Create Project</button>
</form>


{% endblock %}