{% extends "base.html" %}
{% block main %}

<div class="container mt-5">
    <h1 class="mb-3">{{ project.name }}</h1>
    <p>{{ project.description }}</p>

    <!-- Button to go back to Dashboard -->
    <a href="{{ url_for('dashboard') }}" class="btn btn-secondary mb-3">Back to Dashboard</a>

    <!-- Button to Add New Task -->
    <a href="{{ url_for('new_task', project_id=project.project_id) }}" class="btn btn-primary mb-3" id="newTask">Add New
        Task</a>

    <!-- List of tasks -->
    <h2 class="mb-3">Tasks</h2>
    <table id="taskTable" class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>
                    Status
                    <select id="statusFilter">
                        <option value="">All</option>
                        <option value="On hold">On hold</option>
                        <option value="In Progress">In Progress</option>
                        <option value="Completed">Completed</option>
                        <option value="Awaiting Response">Awaiting Response</option>
                    </select>
                </th>
                <th>Assigned To</th>
                <th>Actions</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for task in project.tasks %}
            <tr>
                <td>{{ task.name }}</td>
                <td>{{ task.description }}</td>
                <td class="task-status" id="status_{{ loop.index }}">{{ task.status }}</td>
                <td>{{ task.assigned_to }}</td>

                <td>
                    <a href="{{ url_for('edit_task', project_id=project.project_id, task_id=task.task_id) }}"
                        class="btn btn-info">Edit</a>
                </td>
                <td>
                    <form action="/delete_task/{{ project.project_id }}/{{ task.task_id }}" method="post">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}